<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="/img/logo.png" alt="Logo Mingo" class="card-img-top mx-auto m-2 rounded-circle w-50">
            <h3 class="mb-5">
                <em>¡Con&eacute;ctate con el mundo!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signup">
                Reg&iacute;strate
            </a>
            <a class="btn btn-primary btn-lg" href="/signin">
                Inicia Sesi&oacute;n
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>